div.TestHistory {
    display: flex;
    max-width: 85rem;
    flex-wrap: wrap;
    gap: 5rem;
    margin-left: auto;
    margin-right: auto;
}

/* div.TestHistory_Left {
    width: 20%;
} */

div.TestHistory_Middle {
    width: 30%;
}

div.TestHistory_Middle_Info>input {
    width: 100%;
    border-radius: 5rem;
    height: 2.5rem;
    border: 1px solid black;
    padding: .75rem;
}

div.TestHistory_List_404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div.TestHistory_Null {
    display: flex;
    flex-direction: column;
    min-height: 25.25rem;
    border: .1rem solid black;
    border-radius: 1%;
    align-items: center;
}

div.TestHistory_Null h5 {
    margin-top: 2rem;
}

div.TestHistory_List_Info {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-height: 22.75rem;
    border: .05rem solid black;
    overflow-y: scroll;
}

div.TestHistory_List_Info>ul {
    margin-top: .5rem;
    list-style: none;
}

div.TestHistory_List_Detail {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

div.TestHistory_Right {
    width: 60%;
}

div.Total_Prescription {
    display: flex;
    justify-content: right;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

div.Prescription_Infomation {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

div.Payment_Button {
    display: flex;
    justify-content: right;
    gap: 0.5rem;
}

/* .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiAccordion-root.MuiAccordion-rounded.MuiAccordion-gutters.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    background-color: red;
} */

/* Đóng lại */
.MuiButtonBase-root.MuiAccordionSummary-root.MuiAccordionSummary-gutters.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
    height: 5rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
    transition-duration: 0.5s;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

/* Mở ra */
/* .MuiButtonBase-root.MuiAccordionSummary-root.Mui-expanded.MuiAccordionSummary-gutters.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
    height: 5rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
    transition-duration: 0.5s;
    display: flex;
    align-items: center;
} */

.MuiAccordionSummary-content.MuiAccordionSummary-contentGutters.css-o4b71y-MuiAccordionSummary-content {
    justify-content: space-between;
}

.Prescription_Item {
    height: 5rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
    transition-duration: 0.5s;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.Prescription_Detail {
    padding: 2rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
    transition-duration: 0.5s;
}

/* .Prescription_Detail>div.Prescription_Detail_Inner {
    margin: 0 2rem 2rem 2rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
} */

div.TestHistory_Right_Header>h3 {
    color: #183e9f;
}