@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@660&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

div.Login_Wrapper {
    /* background-color: #abe3ef; */
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #91a6ff 74%);
    margin-top: 1rem;
    height: 550px;
}

div.Login_Content {
    width: 1200px;
    height: 100%;
    margin: auto;
}

.Login_Form {
    display: flex;
    justify-content: space-between;
    max-width: 1040px;
    align-items: center;
    gap: 7rem;
    padding-top: 25px;
}

div.Login_Left {
    width: 60%;
}

div.Login_Left>img {
    max-height: 550px;
    padding-top: 0.3rem;
    margin-right: 2rem;
}

div.Login_Right {
    width: 60%;
}

div.Login_Detail {
    width: 100%;
    max-height: 550px;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 1);
}

div.Login_Header {
    width: 100%;
    text-align: center;
    padding: 1.375rem;
}

div.Login_Header>div {
    font-size: 1.25rem;
    font-weight: bold;
}

div.Login_Fill {
    padding: 0 30px 30px;
    overflow: hidden;
}

div.Login_User {
    margin-bottom: 10px;
}

div.Login_User_Input {
    box-sizing: border-box;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .14);
    border-radius: 2px;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .02);
    display: flex;
    align-items: center;
}

div.Login_User_Input>input {
    padding: 0.75rem;
    outline: none;
    border: 0;
    flex: 1;
    flex-shrink: 0;
    filter: none;
    width: 100%;
}

div.Login_Password {
    margin-bottom: 10px;
}

div.Login_Password_Input {
    box-sizing: border-box;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .14);
    border-radius: 2px;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .02);
    display: flex;
    align-items: center;
}

div.Login_Password_Input>input {
    padding: 0.75rem;
    outline: none;
    border: 0;
    flex: 1;
    flex-shrink: 0;
    filter: none;
    width: 100%;
}

div.Login_Password_Input>button {
    border: none;
    background-color: transparent;
    padding-right: 10px;
}

div.Separate {
    margin: 0;
    padding: 0.25rem 0 0;
    font-size: .75rem;
    color: #ff424f;
    min-height: 1rem;
}

Button.Login_Butt {
    width: 100%;
    color: #fff;
    background-color: #183e9f;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .09);
    text-transform: uppercase;
    height: 2.5rem;
    min-width: 8.75rem;
    cursor: pointer;
    margin-bottom: 10px;
    border: none;
}

div.Login_Help {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

div.Login_Help>a {
    color: #05a;
    font-size: .95rem;
    text-decoration: none;
    cursor: pointer;
}

div.Login_Help>span {
    align-items: center;
}

div.Login_Help>span>span {
    color: #05a;
    font-size: .95rem;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: .5rem;
}

div.Login_Help>span>span>input{
    transform: scale(1.3)
}

div.Login_Or {
    padding-bottom: 14px;
    display: flex;
    align-items: center;
}

div.Login_Or>span {
    color: #000;
    padding: 0 16px;
    text-transform: uppercase;
    font-size: .75rem;
}

div.Login_Or>div {
    height: 1px;
    width: 100%;
    background-color: #000;
    flex: 1;
}

div.Login_Another {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -5px;
    align-items: center;
}

div.Login_Another>button {
    width: 45%;
    height: 30px;
    border-width: 1px;
    border-color: #183e9f;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

div.To_Register {
    margin-bottom: 30px;
}

div.To_Register>div {
    font-size: .875rem;
    white-space: pre;
    padding-right: 4px;
    color: rgba(0, 0, 0, .26);
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

div.To_Register>div>a {
    color: #183e9f;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    font-size: .875rem;
}

button.Show_Pass {
    padding: .5rem;
    background-color: white;
}