div.CollabDoctor_Content {
    max-width: 80rem;
    padding-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}

div.CollabDoctor_Content_1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

div.CollabDoctor_Content_1_Header {
    width: 60%;
    padding-top: 2rem;
    padding-left: 5rem;
    padding-bottom: 3rem;
    padding-right: 5rem;
}

div.CollabDoctor_Content_1_Content {
    width: 40%;
}

div.CollabDoctor_Content_1 h1 {
    font-weight: bold;
    /* color: rgb(25 117 220); */
    color: #183e9f;
    margin-bottom: 1rem;
}

div.CollabDoctor_Content_1 h2 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

div.CollabDoctor_Content_1_Header>div:nth-child(3)>button {
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background-color: #183e9f;
    color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}

div.CollabDoctor_Content_1_Header>div:nth-child(3)>button>a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

div.CollabDoctor_Content_2 {
    display: flex;
    gap: 2.5rem;
    margin-top: 2rem;
}

div.CollabDoctor_Content_2_Detail_1>div {
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
}

div.CollabDoctor_Content_2_Detail_2>div {
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
}

div.CollabDoctor_Content_2_Detail_3>div {
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
}

div.CollabDoctor_Content_2_Detail_1:hover {
    transform: scale(1.03);
    box-shadow: 0 0 11px #1a76e3;
    transition: .3s;
    cursor: pointer;
}

div.CollabDoctor_Content_2_Detail_2:hover {
    transform: scale(1.03);
    box-shadow: 0 0 11px #1a76e3;
    transition: .3s;
    cursor: pointer;
}

div.CollabDoctor_Content_2_Detail_3:hover {
    transform: scale(1.03);
    box-shadow: 0 0 11px #1a76e3;
    transition: .3s;
    cursor: pointer;
}

div.CollabDoctor_Content_2>div {
    width: 33%;
}

div.CollabDoctor_Content ul {
    list-style: none;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: 500;
}

div.CollabDoctor_Content_3 {
    margin-bottom: 9rem;
    margin-top: 5rem;
}

div.CollabDoctor_Content_3_Header {
    text-align: center;
}

div.CollabDoctor_Content_3_Content {
    display: flex;
    gap: 3rem;
}

div.CollabDoctor_Content_3_RightContent>div:hover {
    border-color: rgb(26 118 227);
    cursor: pointer;
    border-left-width: 4px
}

div.CollabDoctor_Content_4 {
    display: flex;
    gap: 3rem;
    margin-bottom: 9rem;
    margin-top: 5rem;
}

div.CollabDoctor_Content_4_Header {
    width: 60%;
}

div.CollabDoctor_Content_4_Header>div>h1 {
    margin-bottom: 2rem;
}

div.CollabDoctor_Content_4_Header>div>ul {
    margin-bottom: 2rem;
}

div.CollabDoctor_Content_4_Header>div>div>button {
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background-color: #183e9f;
    color: white;
    font-weight: 600;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}

div.CollabDoctor_Content_4_Header>div>div>button>a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

div.CollabDoctor_Content_4_Content {
    width: 40%;
}

div.CollabDoctor_Content_5 {
    display: flex;
    gap: 3rem;
    margin-bottom: 9rem;
    margin-top: 5rem;
}

div.CollabDoctor_Content_5_Content {
    width: 60%;
}

div.CollabDoctor_Content_5_Content>div>h1 {
    margin-bottom: 2rem;
}

div.CollabDoctor_Content_5_Content>div>ul {
    margin-bottom: 2rem;
}

div.CollabDoctor_Content_5_Content>div>div>button {
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background-color: #183e9f;
    color: white;
    font-weight: 600;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}

div.CollabDoctor_Content_5_Content>div>div>button>a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

div.CollabDoctor_Content_5_Header {
    width: 40%;
}

div.CollabDoctor_Content_6 {
    display: flex;
}

div.CollabDoctor_Content_6_Header {
    width: 70%;
}

div.Collab_Butt>button {
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background-color: #183e9f;
    color: white;
    font-weight: 600;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}

div.CollabDoctor_Content_6_Content {
    width: 30%;
}

div.CollabDoctor_Content_7 {
    /* background-color: #06bcfb; */
    /* background-image: linear-gradient(315deg, #4884ee 0%, #003366 74%); */
    /* background-color: #ffffff;
    background-image: linear-gradient(360deg, #ffffff 0%, #91a6ff 74%); */
    background: #183e9f;
    color: white;
    margin-top: 3rem;
}

div.CollabDoctor_Content_7 h3 {
    font-weight: bold;
}

div.CollabDoctor_Content_7 ul {
    list-style: none;
    margin-bottom: 5rem;
    margin-top: 2.5rem;
}

div.CollabDoctor_Content_7>div {
    padding-top: 2rem;
    padding-left: 5rem;
    padding-bottom: 3rem;
}

div.CollabDoctor_Content_7_Left>div {
    display: flex;
}

div.CollabDoctor_Content_7_Left>ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}