div.Appointment {
    display: flex;
    max-width: 80rem;
    flex-wrap: wrap;
    padding-top: 2rem;
    gap: 5rem;
    margin-left: auto;
    margin-right: auto;
}

div.Appointment_Left {
    width: 20%;
}

div.Appointment_Left_Content>ul {
    display: grid;
    list-style: none;
    background-color: #EEEEEE;
}

div.Appointment_Left_Content>ul>li {
    display: flex;
    height: 3rem;
    align-items: center;
    cursor: pointer;
    gap: 0.75rem;
}

div.Appointment_Left_Content>ul>li:hover {
    border-color: rgb(26 118 227);
    cursor: pointer;
    border-right-width: 4px;
    border-radius: 3px;
}

div.Appointment_Left_Content>ul>li a {
    text-decoration: none;
    color: black;
}

div.Appointment_Middle {
    width: 22%;
}

div.Appointment_Middle_Info>input {
    width: 100%;
    border-radius: 2rem;
    height: 2.5rem;
    border: 1px solid black;
    padding: .75rem;
}

div.Appointment_List_404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div.Appointment_List_Info {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-height: 20rem;
    border: .05rem solid black;
    overflow-y: scroll;
}

div.Appointment_List_Info>ul {
    margin-top: .5rem;
    list-style: none;
}

div.Appointment_List_Detail {
    display: flex;
    flex-direction: column;
    align-items: left;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

div.Appointment_Right {
    width: 45%;
}

div.Doctor_Avatar_Name {
    display: flex;
    gap: 1rem;
}

div.Doctor_Avatar_Name>img {
    width: 20%;
}

div.Doctor_Avatar_Name>div {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
}

div.Doctor_Avatar_Name>div span {
    display: block;
}

div.Doctor_Avatar_Name>div>span:first-child {
    font-size: 1.25rem;
    font-weight: 600;
}

div.Booking_In4 {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.5rem;
}

div.Patient_In4 {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.5rem;
}

div.Result_Info {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.5rem;
}

div.Cancel_Button {
    margin-top: 1rem;
}

div.Cancel_Button>button {
    display: inline-block;
    outline: 0;
    appearance: none;
    padding: 0px 12px;
    border: 0px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(9, 128, 76);
    box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    transition: all 150ms ease-in-out 0s;
}

div.Cancel_Button>button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(17, 97, 73);
    box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px, rgb(195 231 202) 0px 0px 0px 3px;
}

div.Appointment_Null {
    display: flex;
    flex-direction: column;
    min-height: 25.25rem;
    border: .1rem solid black;
    border-radius: 1%;
    align-items: center;
}

div.Appointment_Null h5 {
    margin-top: 2rem;
}

div.Booking_In4_1,
div.Booking_In4_2,
div.Booking_In4_3 {
    display: flex;
}

div.Booking_In4_1>span:first-child,
div.Booking_In4_2>span:first-child,
div.Booking_In4_3>span:first-child {
    width: 40%;
}

div.Booking_In4_1>span:nth-child(2),
div.Booking_In4_2>span:nth-child(2),
div.Booking_In4_3>span:nth-child(2) {
    width: 60%;
}

div.Patient_In4_1,
div.Patient_In4_2,
div.Patient_In4_3,
div.Patient_In4_4,
div.Patient_In4_5 {
    display: flex;
}

div.Patient_In4_1>span:first-child,
div.Patient_In4_2>span:first-child,
div.Patient_In4_3>span:first-child,
div.Patient_In4_4>span:first-child,
div.Patient_In4_5>span:first-child {
    width: 40%;
}

div.Booking_In4_1>span:nth-child(2),
div.Booking_In4_2>span:nth-child(2),
div.Booking_In4_3>span:nth-child(2),
div.Patient_In4_4>span:nth-child(2),
div.Patient_In4_5>span:nth-child(2) {
    width: 60%;
}

div.Result_In4_1,
div.Result_In4_2 {
    display: flex;
}

div.Result_In4_1>span:first-child,
div.Result_In4_2>span:first-child {
    width: 40%;
}

div.Result_In4_1>span:nth-child(2),
div.Result_In4_2>span:nth-child(2) {
    width: 60%;
}