div.Footer1 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2.5rem;
    gap: 1rem;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

div.Footer1_1 {
    width: 37%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    margin-left: 0;
    margin-right: 0;
    grid-column: span2 /span2;
}

div.Footer1_1 ul {
    display: block;
    list-style: none;
    font-size: .875rem;
    line-height: 1.75rem;
    padding: 0;
}

div.Footer1_2 {
    width: 20%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    margin-left: 0;
    margin-right: 0;
    grid-column: span2 /span2;
}

div.Footer1_2 ul {
    display: block;
    list-style: none;
    font-size: .875rem;
    line-height: 1.75rem;
    padding: 0;
}

div.Footer1_3 {
    width: 15%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    margin-left: 0;
    margin-right: 0;
    grid-column: span2 /span2;
}

div.Footer1_3 ul {
    display: block;
    list-style: none;
    font-size: .875rem;
    line-height: 1.75rem;
    padding: 0;
}

div.Footer1_4 {
    width: 20%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    margin-left: 0;
    margin-right: 0;
    grid-column: span2 /span2;
}

div.Footer1_4 ul {
    display: block;
    list-style: none;
    font-size: .875rem;
    line-height: 1.75rem;
    padding: 0;
}

div.Footer1_5 {
    width: 70%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0;
    padding-bottom: .5rem;
    margin-left: 0;
    margin-right: 0;
    grid-column: span2 /span2;
}

div.Footer1_5 ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    font-size: .875rem;
    line-height: 1.75rem;
    padding: 0;
}

div.Footer1_6 {
    width: 20%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0;
    padding-bottom: 1.5rem;
    margin-left: 0;
    margin-right: 0;
    grid-column: span2 /span2;
}

div.Footer1_6 ul {
    display: flex;
    list-style: none;
    font-size: .875rem;
    line-height: 1.75rem;
    padding: 0;
}

div.Footer2 {
    border-top-width: 1px;
    font-size: .75rem;
    line-height: 1rem;
    text-align: center;
}