div.Custom_Schedule {
    display: flex;
    max-width: 85rem;
    flex-wrap: wrap;
    gap: 5rem;
    margin-left: auto;
    margin-right: auto;
}

/* div.Custom_Schedule_Left {
    width: 20%;
} */

div.Custom_Schedule_Right {
    width: 100%;
}

div.Custom_Schedule_Right_Content {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

div.Custom_Schedule_Option {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    gap: 1rem;
}

div.Custom_Schedule_Date_Option {
    width: 100%;
    display: flex;
}

div.Custom_Schedule_Profile_Option {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

div.Custom_Schedule_Date_Option>input, div.Custom_Schedule_Profile_Option>select, div.Custom_Schedule_Distance_Option>select {
    width: 100%;
    border: var(--bs-border-width) solid var(--bs-border-color);
    padding: 0.25rem;
}

div.Custom_Schedule_Right_Content>h2 {
    color: #183e9f;
}

/* div.rbc-time-header-gutter {
    min-width: 53.5125px !important;
    max-width: 53.5125px !important;
    width: 53.5125px !important;
} */