div.Prescription {
    display: flex;
    max-width: 80rem;
    flex-wrap: wrap;
    padding-top: 7rem;
    gap: 5rem;
    margin-left: auto;
    margin-right: auto;
}

div.Prescription_Left {
    width: 20%;
}

div.Prescription_Right {
    width: 70%;
}

div.Prescription_Right_Body_1 {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

div.Prescription_Right_Body_1 > div {
    width: 48%;
    display: flex;
    align=items: center;
    justify-content: center;
    gap: 2rem;
}

div.Medicine_Search_Input {
    display: flex;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
}

button.Medicine_Search_Butt {
    margin-bottom: 0.5rem;
    display: inline-block;
    outline: 0;
    appearance: none;
    padding: 0px 12px;
    border: 0px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(62, 136, 210);
    box-shadow: rgba(19, 39, 170, 0.4) 0px 2px 3px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    transition: all 150ms ease-in-out 0s;
}

div.Prescription_Detail_Search_Medicine {
    margin-bottom: 1rem;
}

div.Prescription_Right_Header > h2 {
    color: #183e9f;
}

div.Patient_Name, 
div.Doctor_Name, 
div.Create_Date, 
div.Booking_Price, 
div.Symptom, 
div.Diagnosis {
    display: flex;
    gap: 3rem;
    align-items: center;
}