div.Profile_Doctor {
    display: flex;
    max-width: 85rem;
    flex-wrap: wrap;
    padding-top: 7rem;
    gap: 5rem;
    margin-left: auto;
    margin-right: auto;
}

div.Profile_Doctor_Left {
    width: 20%;
}

div.Profile_Doctor_Middle {
    width: 22%;
}

div.Profile_Doctor_Middle_Info>input {
    width: 100%;
    border-radius: 5rem;
    height: 2.5rem;
    border: 1px solid black;
    padding: .75rem;
}

div.Profile_Doctor_Right {
    width: 45%;
}

div.Profile_Doctor_Phonenumber,
div.Profile_Doctor_Name,
div.Profile_Doctor_Price,
div.Profile_Doctor_Address,
div.Profile_Doctor_Work_Place,
div.Profile_Doctor_Email,
div.Profile_Doctor_Specialty,
div.Profile_Doctor_Position {
    display: flex;
    gap: 3rem;
    margin-bottom: 1.25rem;
    align-items: center;
}

div.Profile_Doctor_Gender_Tick {
    display: flex;
    gap: 5rem;
}

div.Profile_Doctor_Relationship_Tick {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}

div.Change_Button {
    margin-top: 2rem;
    text-align: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

div.Update_Button {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

div.Update_Button button,
div.Change_Button button,
button.addProfileButt {
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background-color: #183e9f;
    color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}

div.Update_Button button:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px, -4px);
}

div.Update_Button button:focus-visible {
    outline-offset: 1px;
}

div.Profile_Doctor_Right_Header>h2 {
    color: #183e9f;
}