div.ChangePassword_Wrapper {
    height: 550px;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #91a6ff 74%);
    padding-top: 7rem;
}

/* div.ChangePassword_Content {
    width: 1040px;
    margin: auto;
} */

/* div.ChangePassword_Left>ul {
    display: grid;
    list-style: none;
    background-color: antiquewhite;
}

div.ChangePassword_Left>ul>li {
    display: flex;
    height: 3rem;
    align-items: center;
    cursor: pointer;
}

div.ChangePassword_Left>ul>li a {
    text-decoration: none;
    color: black;
} */

div.ChangePassword_Form {
    /* padding-top: 10px;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    max-width: 1040px;
    align-items: center;
    max-height: 500px; */
    display: flex;
    max-width: 80rem;
    flex-wrap: wrap;
    padding-top: 2rem;
    gap: 5rem;
    margin-left: auto;
    margin-right: auto;
}

div.ChangePassword_Left {
    width: 20%;
}

div.ChangePassword_Right {
    width: 100%;
}

div.ChangePassword_Detail {
    width: 450px;
    height: 350px;
    background-color: transparent;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 1);
}

div.ChangePassword_Header {
    width: 100%;
    text-align: center;
    padding: 1.375rem;
}

div.ChangePassword_Header>div {
    font-size: 1.25rem;
    font-weight: bold;
}

div.ChangePassword_Fill {
    padding: 0 30px 30px;
    overflow: hidden;
}

div.ChangePassword_User {
    margin-bottom: 10px;
}

div.ChangePassword_Old,
div.ChangePassword_New,
div.ChangePassword_Confirm {
    box-sizing: border-box;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .14);
    border-radius: 2px;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .02);
    display: flex;
    align-items: center;
}

div.ChangePassword_Old>input,
div.ChangePassword_New>input,
div.ChangePassword_Confirm>input {
    padding: 0.75rem;
    outline: none;
    border: 0;
    flex: 1;
    flex-shrink: 0;
    filter: none;
    width: 100%;
}

button.ChangePassword_Butt {
    width: 100%;
    color: #fff;
    background-color: #183e9f;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .09);
    text-transform: uppercase;
    height: 2.5rem;
    min-width: 8.75rem;
    cursor: pointer;
    margin-bottom: 10px;
    border: none;
}

div.ChangePassword_Old>button,
div.ChangePassword_New>button,
div.ChangePassword_Confirm>button {
    border: none;
    background-color: transparent;
    padding-right: 10px;
}