div.medical-test-list-null {
    display: flex;
    flex-direction: column;
    min-height: 25.25rem;
    border: .1rem solid black;
    border-radius: 1%;
    align-items: center;
}

div.medical-test-list-null h5 {
    margin-top: 2rem;
}

div.test-body-info {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin: auto;
    max-width: 85rem;
    align-items: center;
    margin-bottom: 5rem;
}

div.test-body-info>div {
    width: 30%
}

div.test-body-image {
    max-width: 85rem;
    margin: auto;
}